/* Put all your global styles here */
@font-face {
  font-family: 'VT323';
  src: url('../fonts/VT323-Regular.ttf') format('truetype');
}

* {
  margin: 0%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: black;
 /* background-image: radial-gradient(rgba(17, 186, 17, 0.478), black 120%); */
 background-image: radial-gradient(rgba(32, 122, 32, 0.75), rgb(0, 0, 0) 120%);
 /* color: lawngreen;*/
 color: white;
 /* font-family: 'VT323', monospace; */
  font: 1.3rem Inconsolata, monospace;
  font-size: 20px;
  text-shadow: 0 0 5px #C8C8C8;
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    rgba(black, 0.15),
    rgba(black, 0.15) 1px,
    transparent 1px,
    transparent 2px
  );
}
