/* Put all your global styles here */
@font-face {
  font-family: 'VT323';
  src: url('../fonts/VT323-Regular.ttf') format('truetype');
}

* {
  margin: 0%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: black;
  background-image: radial-gradient(rgba(17, 186, 17, 0.478), black 120%);
  color: lawngreen;
  font-family: 'VT323', monospace;
  font-size: 20px;
}