
.loginNav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: baseline;
    a:-webkit-any-link {color:rgb(103, 239, 105)};

}